---
export interface Props {
  sectionClasses?: string;
  overlayClasses?: string;
  h1Text?: string;
  h1Classes?: string;
  h2Text?: string;
  h2Classes?: string;
  // fontAwesome?: string;
  spanClasses?: string;
  ctaText?: string;
  HomeLink?: string;
  NombreHomeLink?: string;
  linkSeccion?: string;
  seccion?: string;
  tituloSeccion?: string;
}

const {
  sectionClasses = "",
  overlayClasses = "",
  h1Text = "",
  h1Classes = "",
  HomeLink = "/",
  NombreHomeLink = "",
  // fontAwesome = "",
  linkSeccion = "",
  seccion = "",
  tituloSeccion = "",
} = Astro.props;
---

<section id="heroHistorias" class={sectionClasses}>
  <div class={overlayClasses}></div>

  <h1 class={h1Classes}>
    {h1Text}
  </h1>
  <section
    id="Breadcrumb"
    aria-label="Breadcrumb"
    role="navigation"
    class="relative"
  >
    <ul class="flex flex-wrap mt-2 uppercase">
      <li class="inline-flex">
        <a
          href={HomeLink}
          aria-label="home"
          class="inline-flex font-medium text-white"
        >
          <!-- <i class={`${fontAwesome} `}></i> -->
          <span class="px-1 text-gray-400">{NombreHomeLink} </span>
        </a>
      </li>
      <li class="flex">
        <a href={linkSeccion} class="font-medium text-gray-400 hover:underline">
          <i class="fas fa-angle-right"></i>
          {seccion}
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
      <li class="flex">
        <span class="px-1 text-white">{tituloSeccion} </span>
      </li>
    </ul>
  </section>
</section>
