---
export interface Props {
  sectionClasses: string;
  overlayClasses: string;
  containerClasses: string;
  h1Text: string;
  h1Classes: string;
  h2Text: string;
  h2Classes: string;
  fontAwesome: string;
  spanClasses: string;
  ctaText: string;
}

const {
  overlayClasses = "",
  h1Text = "",
  h1Classes = "",
  h2Text = "",
  h2Classes = "",
  containerClasses = "",
  sectionClasses = "",
} = Astro.props;

import CtaHero from "../Cta/ctaHero.astro";
---

<section id="hero" class={sectionClasses}>
  <div class={overlayClasses}></div>

  <div class={containerClasses}>
    <h1 class={h1Classes}>
      {h1Text}
    </h1>
    <h2 class={h2Classes} set:html={h2Text} />
    <CtaHero
      textoBtn="Déjanos tu historia"
      classesBtn=" bg-red-900 rounded-md p-4 gap-2 text-xl w-[240px] mt-5 "
      fontAwesome="fas fa-lock"
    />
  </div>

  <ul
    class="hidden lg:flex lg:gap-5 lg:rotate-90 lg:absolute lg:top-[340px] lg:-right-[100px]"
  >
    <li>
      <a
        href="https://www.instagram.com/hastalatumba.cl/"
        class="hover:text-yellow-400"
        title="Síguenos en Instagram "
        target="_blank"
      >
        <i class="fab fa-instagram" aria-hidden="true"></i> Imstragram</a
      >
    </li>
    <li>
      <a
        href="https://www.facebook.com/hastalatumba.cl"
        class="hover:text-yellow-400"
        title="Sigue nuestra página en Facebook "
        target="_blank"
      >
        <i class="fab fa-facebook" aria-hidden="true"></i> Facebook</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/@hastalatumba"
        class="hover:text-yellow-400"
        title="Baila con nosotros en TikTok"
        target="_blank"
      >
        <i class="fab fa-youtube" aria-hidden="true"></i> Youtube</a
      >
    </li>
    <li>
      <a
        href="https://www.tiktok.com/@hastalatumba.cl"
        class="hover:text-yellow-400"
        title="Sígue nuestro canal en Youtube "
        target="_blank"
      >
        <i class="fab fa-tiktok" aria-hidden="true"></i> Tik Tok</a
      >
    </li>
  </ul>
</section>
<div class="absolute bottom-3 w-full flex justify-center z-10">
  <a
    href="#SliderHistorias"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>
