---
export interface Props {
  sectionClasses?: string;
  linkInicio?: string;
  iconClass?: string;
  linkSeccion?: string;
  seccion?: string;
  nombreHistoria?: string;
}

const {
  sectionClasses = "",
  linkInicio = "",
  iconClass = "",
  linkSeccion = "",
  seccion = "",
  nombreHistoria = "",
} = Astro.props;
---

<section
  id="Breadcrumb"
  aria-label="Breadcrumb"
  role="navigation"
  class={sectionClasses}
>
  <ul class="flex flex-wrap items-center mt-2">
    <li class="inline-flex items-center">
      <a
        href={linkInicio}
        aria-label="home"
        class="inline-flex items-center font-medium text-white"
      >
        <i class={`fa ${iconClass} `}></i>
        <span class="px-1 text-gray-400">Purgatorio ></span>
      </a>
    </li>
    <li class="flex items-center">
      <a href={linkSeccion} class="font-medium text-gray-400 hover:underline">
        {seccion}
      </a>
    </li>
    <li class="flex items-center">
      <h3 class="px-1 text-lg text-white underline-offset-8"></h3> >
      {nombreHistoria}
    </li>
  </ul>
</section>
