---
export interface Props {
  instaGram?: string;
  faceBook?: string;
  tikTok?: string;
  youTube?: string;
  linKedin?: string;
  X?: string;
}

const {
  instaGram = "",
  faceBook = "",
  tikTok = "",
  youTube = "",
  linKedin = "",
  X = "",
} = Astro.props;
---

<h4 class="mt-4">Síguenos En Buestras RRSS</h4>
<div class="flex justify-center gap-1 my-3">
  <a href={instaGram}
    ><i
      class="fab fa-tiktok text-white border-white hover:border-yellow-300 hover:text-yellow-300 font-bold p-2 text-2xl"
    ></i></a
  >
  <a href={faceBook}>
    <i
      class="fab fa-youtube text-white border-white hover:border-yellow-300 hover:text-yellow-300 font-bold p-2 text-2xl"
    ></i>
  </a>
  <a href={tikTok}>
    <i
      class="fab fa-facebook text-white border-white hover:border-yellow-300 hover:text-yellow-300 font-bold p-2 text-2xl"
    ></i>
  </a>
  <a href={youTube}>
    <i
      class="fab fa-instagram text-white border-white hover:border-yellow-300 hover:text-yellow-300 font-bold p-2 text-2xl"
    ></i>
  </a>
  <a href={linKedin}>
    <i
      class="fab fa-instagram text-white border-white hover:border-yellow-300 hover:text-yellow-300 font-bold p-2 text-2xl"
    ></i>
  </a>
</div>
